$light-grey: #F9F9F2;
$grey: #F1F1E9;
$strong-grey: #cfccc4;
$light-blue: #7ACCE5;
$blue: #5bc0de;
$strong-blue: #31b0d5;
$red: #D7524E;
$green: #5CB85C;
$shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
$shadow-active: rgba(0, 0, 0, 0.3) 0px 19px 60px, rgba(0, 0, 0, 0.22) 0px 15px 20px;





//Aleksei Malyshev, [04.03.18 04:10]
$primary: #ffccbc;
$secondary: #bbdefb;